# **Project: Card Image Classification**
---

## **Introduction:**

Welcome to an exciting project where we will be exploring the fascinating world of image recognition! Our project focuses on the task of classifying a set of poker cards into 53 different categories based on their type.

Using a Convolutional Neural Network (CNN) model, we will train our model to accurately classify images of poker cards into any of the 53 categories. Our dataset, which was obtained from a popular data science community, Kaggle, contains a total of 8154 images of poker cards, divided into 7624 train, 265 test, and 265 validation sets. Each image is a 224 x 224 3-dimensional jpg format.

The dataset we used for this project can be found on the Kaggle website at the following link: [Cards Image Dataset-Classification](https://www.kaggle.com/datasets/gpiosenka/cards-image-datasetclassification). This project will not only teach us how to build a powerful image recognition model using a CNN model, but it will also give us a deeper understanding of the complexities involved in training a machine learning algorithm to recognize images. So, buckle up, and let's dive into this thrilling project together!

### Project Break Down: 
The project would be broken down in the following:
Certainly! Here's a breakdown of what this image recognition project will entail:

1. **Data Wrangling:** We will download the poker card image dataset from Kaggle and examine the images to gain insights into the data.

2. **Data Preprocessing:** We will preprocess the images by resizing them to a standard size and converting them into an array format suitable for feeding into our CNN model.

3. **Data Augmentation:** We will use data augmentation techniques such as image rotation, flipping, and zooming to increase the size of our dataset and improve the robustness of our model.

4. **Model Building:** We will build a CNN model using Keras with TensorFlow backend, and train the model using our preprocessed dataset. We will experiment with different architectures, hyperparameters, and optimization algorithms to achieve optimal performance.

5. **Model Evaluation:** We will evaluate the performance of our model using various metrics such as accuracy, precision, recall, and F1 score, and visualize the results using confusion matrix and classification report.

6. **Model Deployment:** We will deploy our trained model to make predictions on new, unseen poker card images, and visualize the predictions.

## **Packages & Hyperparameters.**

### Python Packages.


Python packages used in this project can be found below:

In [ ]:
# Data Manipulation Packages.
import pandas as pd
import numpy as np

# File manager Packages. 
import os
from google.colab import files
from IPython.display import display

# Data Visualization Packages. 
import matplotlib.pyplot as plt

# Tensorflow Packages. 
import tensorflow as tf
from tensorflow import keras
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import Callback
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

### Hyperparameters.

The hyparaparameters used for training and other variables like batch size, image size, etc. will be defined below:

In [ ]:
# Tensorflow Hyper-parameters.
lr = 0.001
batch_size = 10
dense_unit_1 = None
dense_unit_2 = None
img_size = None

## **Data Wrangling:**

### Data Collection:

We will be downloading our dataset form kaggle and extracting the data from the zip foulder it enclosed in using zipfile package.

In [ ]:
# Define dataset folder. 
! mkdir 1.Dataset.

mkdir: cannot create directory â€˜1.Dataset.â€™: File exists

#### Kaggle Data Import

We will be downloading our dataset directly from kaggle to our colab notebook using the kaggle api.

In [ ]:
# Install kaggle api with Pip. 
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [ ]:
# Uploading Kaggle api token key.
from google.colab import files

files.upload()

In [ ]:
# Changing api token location.
!mkdir ~/.kaggle

!cp kaggle.json ~/.kaggle/

mkdir: cannot create directory â€˜/root/.kaggleâ€™: File exists

In [ ]:
# set the appropriate permissions 
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# verify api key.
!kaggle datasets list

ref                                                       title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                     Data Science Salaries 2023 ðŸ’¸                       25KB  2023-04-13 09:55:16          14337        381  1.0
chitrakumari25/corona-virus-latest-data-2023              Corona virus latest data 2023                      10KB  2023-04-29 16:00:51           1244         34  1.0
utkarshx27/starbucks-nutrition                            Starbucks Nutrition Facts                           2KB  2023-05-10 05:42:59            736         30  1.0
utkarshx27/monthly-transportation-statistics              Monthly Transportation Statistics                 131KB  2023-05-02 02:43:50           1069         28  1.0
iammustafatz/diabetes-prediction-dataset                  Diabetes prediction dataset                       734KB  2023-04-08 06:11:45           7223        103  1.0
desalegngeb/students-exam-scores                          Students Exam Scores: Extended Dataset            695KB  2023-04-14 00:15:38           5692        122  1.0
bourdier/all-tv-series-details-dataset                    Weekly TV Series Update Dataset                    56MB  2023-05-10 20:41:10            635         21  0.9411765
utkarshx27/smoking-dataset-from-uk                        Smoking Dataset from UK                            17KB  2023-05-10 05:41:12            971         32  1.0
mykhailozub/500-hotels-from-airbnb-booking-and-hotelscom  7500 hotels from Airbnb, Booking and Hotels.com   428KB  2023-05-04 15:37:17            548         23  1.0
ahmedshahriarsakib/usa-real-estate-dataset                USA Real Estate Dataset                             1MB  2023-04-30 03:51:36           1825         47  1.0
asahu40/walmart-data-analysis-and-forcasting              Walmart Data Analysis and Forcasting              122KB  2023-04-26 07:07:03           2143         50  1.0
nishantbhardwaj07/airindia-monthly-passenger-traffic      AirIndia Monthly Passenger Traffic                  6KB  2023-04-20 11:26:18            786         22  1.0
utkarshx27/real-estate-sales-2001-2020-gl                 Real Estate Sales 2001-2020 GL                     33MB  2023-05-05 04:22:05            751         26  1.0
sougatapramanick/happiness-index-2018-2019                Happiness Index 2018-2019                          15KB  2023-04-14 12:01:03           2435         45  1.0
olcaybolat1/dermatology-dataset-classification            Dermatology Dataset (Multi-class classification)    5KB  2023-05-09 11:21:39            315         26  1.0
utkarshx27/suicide-attempts-in-shandong-china             Suicide Attempts in Shandong, China                29KB  2023-05-06 11:54:22            733         29  1.0
r1shabhgupta/best-movies-on-netflix                       Top 100 Movies on Netflix                          32KB  2023-04-13 15:34:38           1725         44  1.0
salvatorerastelli/spotify-and-youtube                     Spotify and Youtube                                 9MB  2023-03-20 15:43:25          14554        456  1.0
mohamedafsal007/house-price-dataset-of-india              House Price dataset of India                      480KB  2023-03-27 06:22:55          11081        106  0.88235295
utkarshx27/arrests-for-marijuana-possession               Arrests for Marijuana Possession                   32KB  2023-05-08 10:17:21            933         32  1.0

In [ ]:
# Downloading dataset. 
!kaggle datasets download -d gpiosenka/cards-image-datasetclassification

cards-image-datasetclassification.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
# Unzip folder. 
! unzip cards-image-datasetclassification.zip -d 1.Dataset.

Archive:  cards-image-datasetclassification.zip
replace 1.Dataset./14card types-14-(200 X 200)-94.61.h5? [y]es, [n]o, [A]ll, [N]one, [r]ename:

### Data Review.

We will be viewing our dataset and visulize them using matplotlib image show package.

In [ ]:
# Defining data directories. 
data_dir = os.path.join("/content/1.Dataset.")

# Folder content.
os.listdir(data_dir)

['53cards-53-(200 X 200)-100.00.h5',
 'cards.csv',
 'test',
 'valid',
 'train',
 '14card types-14-(200 X 200)-94.61.h5']

In [ ]:
# Defining card path
card_path = os.path.join(data_dir, 'cards.csv')

# Read card.csv to padas.
cards_csv = pd.read_csv(card_path)

# Viewing data.
print(f"File shape: {cards_csv.shape}\n")
print(f"Data columns: {cards_csv.columns}\n")

File shape: (8155, 5)

Data columns: Index(['class index', 'filepaths', 'labels', 'card type', 'data set'], dtype='object')

In [ ]:
# Data layer-out
display(cards_csv.head(1))
print("\n\n")

# Training data sample
print(f"\t######################## Train Data Sample ########################\n")
train_sample = cards_csv[cards_csv['data set'] == 'train'].sample(n=10)
display(train_sample)
print("\n\n")

# Testing data sample
print(f"\t######################## Test Data Sample ########################\n")
test_sample = cards_csv[cards_csv['data set'] == 'test'].sample(n=10)
display(train_sample)
print("\n\n")

# Validation data
print(f"\t######################## Validation Data Sample ########################\n")
valid_sample = cards_csv[cards_csv['data set'] == 'valid'].sample(n=10)
display(valid_sample)
print("\n\n")

   class index                   filepaths        labels card type data set
0            0  train/ace of clubs/001.jpg  ace of clubs       ace    train

	######################## Train Data Sample ########################

,class index,filepaths,labels,card type,data set
3291,22,train/king of diamonds/045.jpg,king of diamonds,king,train
185,1,train/ace of diamonds/065.jpg,ace of diamonds,ace,train
1637,11,train/five of spades/028.jpg,five of spades,five,train
3320,22,train/king of diamonds/074.jpg,king of diamonds,king,train
6390,44,train/ten of spades/031.jpg,ten of spades,ten,train
1981,13,train/four of diamonds/057.jpg,four of diamonds,four,train
4779,32,train/queen of spades/119.jpg,queen of spades,queen,train
4642,31,train/queen of hearts/121.jpg,queen of hearts,queen,train
6288,43,train/ten of hearts/058.jpg,ten of hearts,ten,train
1560,10,train/five of hearts/087.jpg,five of hearts,five,train

	######################## Test Data Sample ########################

,class index,filepaths,labels,card type,data set
3291,22,train/king of diamonds/045.jpg,king of diamonds,king,train
185,1,train/ace of diamonds/065.jpg,ace of diamonds,ace,train
1637,11,train/five of spades/028.jpg,five of spades,five,train
3320,22,train/king of diamonds/074.jpg,king of diamonds,king,train
6390,44,train/ten of spades/031.jpg,ten of spades,ten,train
1981,13,train/four of diamonds/057.jpg,four of diamonds,four,train
4779,32,train/queen of spades/119.jpg,queen of spades,queen,train
4642,31,train/queen of hearts/121.jpg,queen of hearts,queen,train
6288,43,train/ten of hearts/058.jpg,ten of hearts,ten,train
1560,10,train/five of hearts/087.jpg,five of hearts,five,train

	######################## Validation Data Sample ########################

,class index,filepaths,labels,card type,data set
8086,39,valid/six of hearts/2.jpg,six of hearts,six,valid
7942,10,valid/five of hearts/3.jpg,five of hearts,five,valid
7927,7,valid/eight of spades/3.jpg,eight of spades,eight,valid
7977,17,valid/jack of diamonds/3.jpg,jack of diamonds,jack,valid
7997,21,valid/king of clubs/3.jpg,king of clubs,king,valid
7891,0,valid/ace of clubs/2.jpg,ace of clubs,ace,valid
8034,28,valid/nine of spades/5.jpg,nine of spades,nine,valid
7920,6,valid/eight of hearts/1.jpg,eight of hearts,eight,valid
8002,22,valid/king of diamonds/3.jpg,king of diamonds,king,valid
8123,46,valid/three of diamonds/4.jpg,three of diamonds,three,valid

In [ ]:
# Define the training, testing, and Validation directories. 
train_dir = os.path.join(data_dir, 'train')
test_dir = os.path.join(data_dir, 'test')
valid_dir = os.path.join(data_dir, 'valid')

In [ ]:
train_sample.filepaths.to_list()

['train/three of clubs/086.jpg',
 'train/two of clubs/015.jpg',
 'train/king of diamonds/109.jpg',
 'train/five of spades/069.jpg',
 'train/ten of hearts/076.jpg',
 'train/queen of spades/116.jpg',
 'train/nine of hearts/052.jpg',
 'train/queen of clubs/026.jpg',
 'train/six of hearts/033.jpg',
 'train/ten of hearts/129.jpg']

In [ ]:
# Visualizing Images. 

## Extracting file path. 
train_filepaths = train_sample.filepaths.to_list()[:5]
test_filepaths = test_sample.filepaths.to_list()[:5]
valid_filepaths = valid_sample.filepaths.to_list()[:5]

## Define full image path.
image_filepaths = 
image_files = [file for file in os.listdir() if file.endswith(".jpg")]


num_images = len(image_files)
num_rows = 3  # You can adjust the number of rows and columns as desired
num_cols = num_images // num_rows

fig, axs = plt.subplots(num_rows, num_cols, figsize=(10, 6))

for i, image_file in enumerate(image_files):
    row = i // num_cols
    col = i % num_cols
    image_path = os.path.join(directory_path, image_file)
    image = plt.imread(image_path)
    axs[row, col].imshow(image)
    axs[row, col].set_title(image_file)
    axs[row, col].axis('off')

plt.tight_layout()
plt.show()